body {
  background-color: salmon;
  -o-object-fit: fill;
     object-fit: fill;
}

.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.SnackerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

@-webkit-keyframes expand {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 70%;
    height: 70%;
  }
}

@keyframes expand {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 70%;
    height: 70%;
  }
}
.NFTContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93%;
  width: 43%;
  border: 4px solid black;
  border-style: inset;
}

.NFTSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.FeatureContainer {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 6px solid black;
  border-style: inset;
}

.FeatureTextContainer {
  font-size: x-large;
  color: white;
  position: absolute;
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 71%, rgba(0, 212, 255, 0) 93%);
}

.FeaturedNFT {
  display: flex;
  max-width: 100%;
}

.ApproveButton {
  height: 10%;
  width: 100%;
  font-size: x-large;
  color: white;
  background-color: red;
}

@-webkit-keyframes centerColor {
  from {
    border: 4px solid yellow;
  }
  to {
    border: 4px solid red;
  }
}

@keyframes centerColor {
  from {
    border: 4px solid yellow;
  }
  to {
    border: 4px solid red;
  }
}
.NFTPreview {
  display: flex;
  height: 90%;
  width: 10rem;
  background-color: black;
  border: 4px solid yellow;
  border-style: inset;
}

.NFTCenter {
  display: flex;
  height: 90%;
  width: 10rem;
  background-color: black;
  border: 4px solid yellow;
  border-style: inset;
  -webkit-animation-name: centerColor;
          animation-name: centerColor;
  -webkit-animation-duration: 40ms;
          animation-duration: 40ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.NFTSelectContainer {
  display: flex;
  flex-direction: row;
}

.ComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NFTContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  width: 35rem;
  border: 4px solid black;
  border-style: inset;
}

.NFTSelector {
  display: flex;
  margin-top: -13rem;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 12rem;
}

.ArrowContainer {
  display: flex;
  background-color: grey;
  width: 3rem;
  height: 100%;
}

.ArrowLeft {
  position: absolute;
  -webkit-clip-path: polygon(70% 10%, 20% 50%, 70% 90%);
          clip-path: polygon(70% 10%, 20% 50%, 70% 90%);
  background-color: red;
  width: 3rem;
  margin-left: -0.5rem;
  height: 12rem;
}

.ArrowRight {
  position: absolute;
  background-color: red;
  width: 3rem;
  margin-left: -0.5rem;
  height: 12rem;
  -webkit-clip-path: polygon(30% 10%, 30% 90%, 70% 50%);
          clip-path: polygon(30% 10%, 30% 90%, 70% 50%);
}

.ApproveButton {
  height: 10%;
  width: 100%;
  font-size: x-large;
  color: white;
  background-color: red;
}/*# sourceMappingURL=styles.css.map */